
html {

    background-image: url("https://assets.bigcartel.com/theme_images/24371660/3_00000.jpg?auto=format&fit=max&w=1300");
    
}
p {
    font-family: ;
    color: orange;
    font-size: 30px;

}

h1{
    font-family: 'Orbitron', sans-serif;
    color:brown;
    font-size: 100px;
    border: 4px dotted yellow;

}
      
      div {
        border: double;
      }
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }