html {
    background-color: springgreen;
    background-image: url("https://i.pinimg.com/originals/c4/c3/24/c4c324d4c133aec518c70a29e2d484df.gif");
}

h1{
    color: red;
    font-size: 65px;
    font-family: 'Press Start 2P', cursive;
    
}
p {

    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
    color: mediumspringgreen;
    } 
} 
